.gallery {

    &__title {
        padding-bottom: 70px;
    }

    &__panel {

        display: grid;
        gap: 10px;


        @media screen and (min-width: 992px) {
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;    
        }
    }

    &__item {
        font-size: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin: 0 auto;
        max-height: 215px;
        max-width: 285px;

        &--big {
            grid-row-start: 1;
            grid-row-end: 3;

            @media screen and (min-width: 992px) {
                max-height: 100%;
                max-width: 100%;
            }
        }

        & svg {
            @include posA();
            opacity: 0;
            fill: $primary-color;
            @include tr;
        }
        &:hover svg {
            opacity: 1;
            @include tr;
        }
    }
    
        
    &__img-wrapper {


        &:hover img {
            transform: scale(1.1);
            @include tr;
        }
        

        & img {
            @include tr;
        }
        
    }

    &__btn {
        margin: 65px auto 145px;
    }
}