.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  

  .logo {
    position: relative;
    z-index: 10;
  }

  &__menu {
    display: none;

    @keyframes showBlock {
      0% {
        opacity: 0;
        top: -600%;
      }
      100% {
        opacity: 1;
        top: 2%;
      }
    }
    @keyframes hideBlock {
      0% {
        opacity: 1;
        top: 20%;
      }
      100% {
        opacity: 0;
        top: -600%;
      }
    }

    &.visible {

      @media screen and (max-width: 767px) {
        animation: showBlock .2s linear forwards;
        display: block;
        position: fixed;
        top: 2%;
        left: 2%;
        right: 2%;
        background-color: rgba(126, 90, 255, .9);
        border-radius: 5px;
        height: 95vh;

        & .navigation {
            margin: 0 auto;
            
            &__list {
                text-align: center;
                padding: 20% 0;
                flex-direction: column;
                justify-content: space-around;
            }
        }
      }
    }
    &.hidden {

      @media screen and (max-width: 767px) {
        animation: hideBlock .2s linear forwards;
        display: block;
        position: absolute;
        top: 20%;
        left: 2%;
        right: 2%;
        background-color: rgba(126, 90, 255, .9);
        border-radius: 5px;
        height: 0;

        & .navigation {
            margin: 0 auto;
            
            &__list {
                text-align: center;
                padding: 20% 0;
                flex-direction: column;
                justify-content: space-around;
            }   
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__menu {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }
  }
}

.navigation {
    flex-grow: 1;
    max-width: 670px;
    text-align: end;
  
    
  
    &__list {
        list-style: none;
        justify-content: space-around;
        padding: 0;
    }
    &__item {
      display: inline-block;
      @include font ($ff: $body-ff, $fz: 1.4rem, $fc: $primary-color, $lh: 4rem);
      text-transform: uppercase;
      text-decoration: none;
  
      &:hover:before {
        background-color: white;
        @include tr;
      }
      
      &:before {
        content: "";
        display: inline-block;
        border: 1px solid white;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        margin-right: 15px;
        @include tr;
      }
    }

    &__toggler {
        text-decoration: none;
        height: 40px;
        padding: 0 10px;
        line-height: 35px;
        margin: auto 0;
        background: none;
        border: $border-width solid $primary-color;
        border-radius: 50px;
        color: $primary-color;
        position: relative;
        z-index: 10;
        @include tr;

        &:hover,
        &:active {
          background-color: $primary-color;
          color: $secondary-color;
          @include tr;
        }
    }
}

@media screen and (min-width: 768px) {
    .navigation {

        &__toggler {
            display: none;
        }

        &__list {
            display: flex;
        }
    }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  
  &--pinned {
    transform: translateY(0%);
    background-image: linear-gradient(45deg, rgba(85, 183, 255, .2), rgba(126, 90, 255, .4));

    // & #header {
    //   background-image: linear-gradient(45deg, rgba(85, 183, 255, .2), rgba(126, 90, 255, .4));
    // }
  }
  
  &--unpinned {
    transform: translateY(-100%);
  }
}
// #header {
//   background-image: linear-gradient(45deg, rgba(85, 183, 255, .2), rgba(126, 90, 255, .4));
// }