$social-size: 40px;
$social-border: 1px;

.social {
    list-style: none;
    padding: 0;
    text-align: center;


    &__item {
        display: inline-block;
        margin: 0 5px;
    }

    &__link {
        display: inline-block;
        fill: $secondary-color;
        text-decoration: none;
        width: $social-size;
        height: $social-size;
        line-height: calc(#{$social-size} + #{$social-border});
        border: 2px solid $secondary-color;
        border-radius: 50%;
        
        @include tr;
        @include hover {
            background-color: $secondary-color;
            fill: $primary-color;
        }
    }
}