
$title-ff: 'GothamBold', 'Open Sans', sans-serif;
$section-title-ff: 'GothamMedium', 'Open Sans', sans-serif;
$body-ff: 'GothamBook', 'Open Sans', sans-serif;
$text-ff: 'Open Sans', sans-serif;

$primary-color: #fff;
$secondary-color: #4b5562;

$section-title-fz: 4.4rem;
$border-width: 1px;

$body-bg: $primary-color;