
$title-ff: 'GothamBold', 'Open Sans', sans-serif;
$body-ff: 'GothamBook', 'Open Sans', sans-serif;

$primary-color: #4b5562;
$secondary-color: #fff;


$border-width: 1px;

$body-bg: $secondary-color;