@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';



*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  @include font($body-ff, 1.4rem, $primary-color, $lh: 1.7);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 540px;

  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
      max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
      max-width: 1170px;
  }
}

.relative {
  position: relative;
}

@import 'navigation';
@import 'socials';
@import 'about';


.section {
  position: relative;

  &__title {
    text-transform: uppercase;
    text-align: center;
    @include font ($ff: $section-title-ff, $fz: 2.4rem, $fc: $secondary-color);
    margin: 0;
    padding: 70px 0 70px;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
    @media screen and (min-width: 992px) {
      font-size: $section-title-fz;
      padding: 145px 0 100px;
    }
    

    &:before {
      content: "";
      display: block;
      height: 1px;
      width: 75px;
      background-color: $secondary-color;
      margin: 0 auto;

      
      @media screen and (min-width: 992px) {
        width: 100px;
      }
    }
  }
}


.next-section {
  fill: $primary-color;
  @include posA($top: null);
  bottom: 25px;
  z-index: 10;

  @include hover {
    opacity: .6;
  }
}

.btn {
  text-transform: uppercase;
  display: block;
  max-width: 190px;
  text-align: center;
  color: $secondary-color;
  line-height: 50px;
  border: $border-width solid $secondary-color;
}

@import 'projects';
@import 'news';
@import 'gallery';
@import 'map';
@import 'touch';
@import 'footer';