@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'socials';
@import 'about-slider';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  @include font($body-ff, 1.4rem, $primary-color, $lh: 1.7);
  background-color: $body-bg;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
}



.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.navigation {
  flex-grow: 1;
  max-width: 670px;


  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  &__item {
    display: inline-block;
    @include font ($ff: $body-ff, $fz: 1.4rem, $fc: $primary-color, $lh: 4rem);
    text-transform: uppercase;
    text-decoration: none;

    &:hover:before {
      background-color: white;
      @include tr;
    }
    
    &:before {
      content: "";
      display: inline-block;
      border: 1px solid white;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      margin-right: 15px;
      @include tr;
    }
  }
}

.section {
  position: relative;

  &--about {
    background-image: linear-gradient(45deg, #55b7ff, #7e5aff);
    min-height: 100vh;
  }

  &__next {
    fill: $primary-color;
    @include posA($top: null, $delta-y: null);
    bottom: 50px;
    z-index: 10;

    @include hover {
      fill: $secondary-color;
    }
  }
}