@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';



* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  @include font($body-ff, 1.4rem, $primary-color, $lh: 1.7);
  background-color: $body-bg;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

@import 'navigation';
@import 'socials';
@import 'about-slider';


.section {
  position: relative;

  &--about {
    background-image: linear-gradient(45deg, #55b7ff, #7e5aff);
    min-height: 100vh;
  }

  &__next {
    fill: $primary-color;
    @include posA($top: null);
    bottom: 25px;
    z-index: 10;

    @include hover {
      fill: $secondary-color;
    }
  }
}

